backend/venv/
backend/__pycache__/
backend/*__pycache__*
backend/last_uploaded_aadhaar.jpg
backend/test_ticket.pdf
backend/test_sqlite.db
frontend/node_modules/
frontend/dist/
.git/
.gitignore
.env
*.pyc
*.pyo
